#about-us {
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Modern, clean font */
  color: #333; /* Dark grey for text */
  background-color: #fff; /* White background */
  padding: 40px 0; /* Padding around the section */

  .hairdresser-text {
    text-align: left;
  }

  .beautycian-text {
    text-align: right;
  }
  .main-bar {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    font-size: 2em;
  }
}

/* Styling for employee information */
.employee-1,
.employee-2 {
  background-color: #f9f9f9; /* Light grey background */
  border: 1px solid #eaeaea; /* Light border for definition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Subtle shadow */
  padding: 20px; /* Padding inside the boxes */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Bottom margin */
}
