body, html {
    height: 100%;
    margin: 0;
}

body {
    /* Set the background image */
    background-image: url('/img/woman-hairdresser-salon.jpg');

    /* Make sure the image covers the entire page */
    background-position: center;
background-repeat: no-repeat;
    background-size: cover;

    /* Optional: Adding a background color as a fallback */
    background-color: #cccccc;
}

// FREE LICENSE ADD IT TO THE CODE!!!!!!
// <a href="https://www.freepik.com/free-photo/wet-monstera-deliciosa-plant-leaves-garden_18667377.htm#query=black&position=47&from_view=search&track=sph&uuid=12f71436-e504-4552-ba62-4bd68f49af14">Image by rawpixel.com</a> on Freepik
