.footer-hero {
  background-image: url('/assets/img/eye-lashes-background.jpg');
  background-position: center;
  background-size: cover;
  min-height: 40svh;
  display: flex;
  align-items: center;
  .footer-hero-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

footer {
  min-height: 40vh;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.sub-footer {
  font-size: 14px;
  background-color: #000;
  color: #fff;
  .content {
    min-height: 5svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mr-container {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 100px;
}

.ml-container {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 100px;
}

@media only screen and (max-width: 868px) {
  .mr-container {
    margin-right: 0px;
  }
  .ml-container {
    margin-left: 0px;
  }
}
