.footer-hero {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('/assets/img/footer-face.jpeg');
  background-position: center;
  background-size: cover;
  min-height: 55vh; /* Increased height */
  display: flex;
  align-items: center;

  .footer-hero-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .footer-hero {
    min-height: 65vh; /* Further increase for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .footer-hero {
    min-height: 75vh; /* Even more height for very small screens */
  }
}

footer {
  /* Remove display: flex and align-items */
  /* display: flex; */
  /* align-items: center; */
  background-color: #000;
  color: #fff;
  padding: 25px 0;
}

.sub-footer {
  font-size: 14px;
  background-color: #000;
  color: #fff;

  .content {
    min-height: 5svh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mr-container,
.ml-container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 868px) {
  .mr-container {
    margin-right: 0px;
  }
  .ml-container {
    margin-left: 0px;
  }
}

.social-icon {
  font-size: 2rem;
  color: #fff; /* Change to white */
}

.social-icon:hover {
  color: #ccc; /* Optional: Change color on hover */
}

footer h2,
footer h4,
footer p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Ensure padding and borders are included in width calculations */
*, *::before, *::after {
  box-sizing: border-box;
}