.round-border {
  border-radius: 15px;
}

.round-border-30 {
  border-radius: 30px;
}

.wrap {
  max-width: 1200px;
}

.wrap-xl {
  max-width: 1425px;
}

.full-width-wrap {
  width: 100%;
  overflow: hidden;
  .row-no-padding {
    margin-left: 0;
    margin-right: 0;
  }
  .row,
  .row-no-padding > * {
    padding-left: 0;
    padding-right: 0;
  }
}

section {
  overflow: hidden;
}

img {
  width: 100%;
}

.text-color-white {
  color: white; // This sets the default text color to white for all text inside the container

  // Targeting unordered lists (ul) and list items (li) specifically
  ul,
  li {
    color: white; // Sets text color to white

    // If you want to make sure links (a) are also white
    a {
      color: white;
      &:hover {
        color: white; // You can change this to another color for hover effect if desired
      }
    }
  }
}

.main-bar {
  text-align: center;
  font-size: 24px;
  color: white;
}
.rounded-button {
  position: relative;
  background-color: transparent; // Transparent background
  color: white; // White text color
  border: 0px solid transparent; // Thinner white border
  border-radius: 30px; // More rounded corners for a smoother look
  padding: 10px 30px; // Padding adjusted for a wider button
  width: auto; // Adjusts width based on content and padding
  font-size: 16px; // Adjust font size as needed
  // text-transform: uppercase; // Uppercase text for modern look
  font-weight: bold; // Bold text
  transition: all 0.7s ease; // Smooth transition for a subtle hover effect
  cursor: pointer; // Changes cursor to pointer on hover for better UX
  background-clip: padding-box;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 2px;
    background: $silver-gradient;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:hover {
    background: white; // White background on hover
    color: rgba(
      0,
      0,
      0,
      0.7
    ); // Slightly transparent black for visible text on hover
  }
}

.center-text {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.header-text-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    color: $header-text-color;
  }

  h2 {
    text-align: center;
    color: $header-subtext-color;
  }
}
