@import 'variables.scss';

header {
  position: relative;
  height: 100svh;
  width: 100%;
  background-size: cover;
  background-position: center;
  .header-top {
    background-color: $light-gray-transparent;
    padding: 10px 0;
  }
  nav.mobile-nav {
    position: fixed;
    width: 0;
    height: 100svh;
    top: 0;
    display: none;
    overflow: hidden;
    background-color: #000;
    color: $white;
    transition-duration: 400ms;
    .mobile-menu-list {
      width: 100%;
      height: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
  }

  nav.desktop-nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-height: 8svh;
    width: 100%;

    .logo {
      img {
        width: 220px;
        filter: brightness(0) invert(1);
      }
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      width: 100%;
      .menu-list {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        gap: 20px;

        li::after {
          content: '';
          display: block;
          width: 0;
          height: 2px;
          background: $silver-gradient;
          transition: width 0.3s;
        }

        li:hover::after {
          width: 100%;
          transition: width 0.3s;
        }
      }

      .hamburger {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        height: 40px;

        .line {
          height: 3px;
          background: $silver-gradient;
          display: block;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }

        .line:nth-child(1) {
          width: 50px;
        }

        .line:nth-child(2) {
          width: 40px;
        }

        .line:nth-child(3) {
          width: 30px;
        }
      }

      .hamburger.is-active .line:nth-child(2) {
        opacity: 0;
      }

      .hamburger.is-active .line:nth-child(1) {
        width: 40px;
        -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
        -o-transform: translateY(13px) rotate(45deg);
        transform: translateY(13px) rotate(45deg);
      }

      .hamburger.is-active .line:nth-child(3) {
        width: 40px;
        -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
        -o-transform: translateY(-13px) rotate(-45deg);
        transform: translateY(-13px) rotate(-45deg);
      }
    }
    .mobile-menu-list {
      display: none;
    }
  }
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }

  .arrows path {
    stroke: #ffffff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  }

  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  }

  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  }

  @media only screen and (max-width: 868px) {
    /* For mobile phones: */
    nav.desktop-nav {
      .logo {
        z-index: 1001;
      }
      .menu {
        .menu-list {
          display: none;
        }
        .hamburger {
          z-index: 1001;
          display: flex;
        }
      }
    }

    nav.mobile-nav {
      z-index: 1000;
      display: flex;
    }
    nav.mobile-nav.is-active {
      width: 100vw;
    }
  }
  
}
