#realizations {
  background: rgba(0, 0, 0, 1);
  backdrop-filter: blur(20px);
  padding-bottom: 30px;
  height: 90px;
  .rel-imgs img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the entire image is visible */
  }
  .rel-img {
    margin-top: 30px;
  }
  .rel-img img {
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .main-text {
    text-align: center;
    color: white;
    // font-size: 1em;
  }
}
