.rel-imgs img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the entire image is visible */
}

.rel-img img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.main-text {
    text-align: center;
}