.gold-gradient-box {
  color: white;
  background: linear-gradient(135deg, #919191, rgba(255, 255, 255, 0));
  backdrop-filter: blur(12px);
  margin-top: 40px;
  border-radius: 14px;
  padding: 20px;
  width: 100%;
  p {
    text-indent: 1rem;
  }
  .main-text {
    h2 {
      text-align: center;
    }
  }
}

#services {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 80%);
}
